<h1>Timecards </h1>
<p>for <%= render 'layouts/username' %></p>
<%= link_to "Create New Timecard", new_timecard_path, class:"btn btn-primary" %>

<% @timecards.each do |timecard| %>
  <p><strong>Timecard Starting: </strong><%= link_to "#{timecard.start_date}", timecard_path(timecard) %> </p> 
<% end %>

