<h1>Timecard</h1>

<p><strong>Start Date:</strong><%= @timecard.start_date %></p>
<p><strong>End Date:</strong><%= @timecard.end_date %></p>

<%= link_to "View All Timecards", timecards_path, class: "btn btn-default btn-lg" %>
