<h1>Timecards</h1>

<p><strong>Timecard Start Date: </strong><%= @timecard.start_date %></p>

<% @days.each do |day| %>
  <%= link_to "<p><strong>Timecard Start Date:</strong></p> #{day.start_time}".html_safe, day__path(day) %>
<% end %>