@import "sass_vars.scss";

/*----------------------------- 
global css entire program
-----------------------------*/

body {
  padding-top: 55px;
  padding-bottom: 70px;
}

a {
  color: $cardinal;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/* Responsive Media Queries */
@media screen and (max-width: 768px) {
  body { padding-top: 5px; }
  .offset3 { padding: 0 15px; }
  .home-p { font-size: 1.3em; }
}

/* The most used buttons bootstrap style */
.btn-default {
  margin-bottom: 10px !important;
  color: $cardinal;
  background-color: $button-pri;
  border-color: black;
  &:hover {
    background-color: $cardinal !important;
    color: white;
  }
}

.float-btn {
  color: $cardinal;
  float: left;
  margin: 0 .6em 0 0;
}
a.float-btn {
  color: $cardinal;
  margin-top: 0px;
}

/* This is to remove the offset padding */
.offset3, .checkbox {
  padding: 0px;
}


/* ------------------
This is for forms
--------------------*/
.border-form-div {
  max-width: 540px;
  padding: .4em .6em;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid $mercury;
  @include rounded-corners(.4em);
  @include shadowed-corners(rgba(0,0,0,.10));
  h2,h4 {
    color: $cardinal;
    margin-left: 10px;
  }
  p {
    color: $cardinal;
  }
  a {
    color: $cardinal;
    margin: 3px;
  }
}

.row1 {
  height: 100px;
}

.r1-header h3 {
    margin-top: 0px !important;
  }



