  <div class="form-group">
    <%= f.label :password, "Password", class: "col-sm-4 control-label" %>
    <div class="input-group col-sm-7">
      <span class="input-group-addon"><i class="fa fa-key fa-fw form-fa"></i></span>
      <%= f.password_field :password, required: true, :placeholder => 'Password with 8 characters', class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm Password:", class: "col-sm-4 control-label" %>
    <div class="input-group col-sm-7">  
      <span class="input-group-addon"><i class="fa fa-key fa-fw form-fa"></i></span>
      <%= f.password_field :password_confirmation, required: true, :placeholder => 'Type it again to confirm', class: "form-control"  %>
    </div>
  </div>